@charset "UTF-8";
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
#wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.inner {
  max-width: 160rem;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

/* header */
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 3;
}

.header-inner {
  max-width: 160rem;
  height: 100%;
  margin: 0 auto;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .gnb ul {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
}
.header .gnb ul li {
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .gnb ul li a {
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 500;
}
.header .gnb ul li:last-child {
  padding-right: 0;
}

/* 반응형 */
@media (max-width: 1600px) {
  .header-inner {
    max-width: unset;
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  header {
    height: 7rem;
  }
  .header .gnb {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 50%;
    height: 100vh;
    background: #fff;
    -webkit-box-shadow: -5px 0px 10px 0px rgba(108, 108, 108, 0.3294117647);
            box-shadow: -5px 0px 10px 0px rgba(108, 108, 108, 0.3294117647);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header .gnb.is-active {
    display: inline-block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .gnb ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
  }
  .header .gnb ul li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 2rem 3rem;
  }
  .header .btn-menu {
    width: 2.1rem;
    background: transparent;
  }
  .header .btn-menu img {
    width: 100%;
  }
  .header .btn-close {
    position: absolute;
    top: 2rem;
    right: 1.2rem;
    width: 3rem;
    background: transparent;
  }
  .header .btn-close img {
    width: 100%;
  }
}
/* footer */
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
footer {
  padding: 5rem 0;
  background-color: #222;
}

.copyright {
  color: #a2a2a4;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .copyright {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .copyright {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
}

/* 반응형 */
@media (min-width: 320px) and (max-width: 1024px) {
  html, body {
    font-size: 48.0769230769%;
  }
}
@media (min-width: 360px) and (max-width: 1024px) {
  html, body {
    font-size: 62.5%;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  body, html {
    font-size: 81.25%;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  body, html {
    font-size: 62.5%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body, html {
    font-size: 52.0833333333%;
  }
}