@charset "UTF-8";
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* header */
/* 폰트 */
/* screen reader only */
section.cont {
  display: block;
  min-height: 100dvh;
  padding: 12rem 0;
}

/* title */
#title.cont .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#title.cont .tit > h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #0036ff;
  font-size: 10vw;
}
#title.cont .tit .tit1-2 {
  text-shadow: -2px -2px 0 #0036ff, 2px -2px 0 #0036ff, -2px 2px 0 #0036ff, 2px 2px 0 #0036ff;
  color: #fff;
}

/* about */
#about.cont .flex {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#about.cont .flex .txt-cont {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 25rem;
}
#about.cont .flex .img-cont {
  width: 100%;
  height: 50rem;
  border-radius: 6px;
  overflow: hidden;
}
#about.cont .flex .img-cont img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about.cont .txt-cont > p {
  font-size: 5rem;
  font-weight: 500;
  color: #111;
  line-height: 1.5;
}
#about.cont .txt-cont > p > span {
  position: relative;
  display: inline-block;
}
#about.cont .txt-cont > p > span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 50%;
  background: #bfe2ff;
  opacity: 0.9;
  z-index: -1;
}
#about.cont .skills-cont {
  margin-top: 7rem;
}
#about.cont .skills_box {
  position: relative;
  width: 15rem;
}
#about.cont .skills_box .chart {
  display: block;
}
#about.cont .skills_box .chart-bg {
  fill: none;
  stroke: #ddd;
  stroke-width: 4;
}
#about.cont .skills_box .chart-inner {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke: #0036ff;
  stroke-dasharray: 0, 100;
  -webkit-transition: stroke-dasharray 1.5s ease-out;
  transition: stroke-dasharray 1.5s ease-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
#about.cont .skills_info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#about.cont .skills_info > p {
  width: 100%;
  text-align: center;
}

/* portfolio */
#portfolio.cont {
  overflow: hidden;
}
#portfolio.cont .flex {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
#portfolio.cont .flex .cont_box {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}
#portfolio.cont .flex .cont_box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#portfolio.cont .flex .cont_box .img {
  height: 30rem;
}
#portfolio.cont .flex .cont_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#portfolio.cont .flex .cont_box .txt {
  padding: 5rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#portfolio.cont .flex .cont_box .txt .txt1 {
  margin-top: 1rem;
  color: #545456;
  font-weight: 500;
}

/* work_list */
#work_list.cont .tbody {
  width: 100%;
}
#work_list.cont .tr {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  border-bottom: 1px solid #ddd;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#work_list.cont .tr:hover {
  background: #ecf7ff;
}
#work_list.cont .tr .td {
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#work_list.cont .tr .td .tit3 {
  font-weight: 600;
  color: #222;
}
#work_list.cont .tr .td .txt {
  font-size: 1.7rem;
}
#work_list.cont .tr .td > a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #111;
}

/* email */
#email.cont .bg_main2 {
  padding: 13rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#email.cont .tit3 {
  position: relative;
  z-index: 1;
}
#email.cont .tit3 > span {
  position: relative;
  display: inline;
}
#email.cont .tit3 > span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 0 0.4rem;
  background: #fff;
  z-index: -1;
  opacity: 0.8;
}
#email.cont .caption1 {
  display: inline-block;
  font-weight: 500;
  color: #545456;
}
#email.cont .email_box > p {
  display: inline;
  width: auto;
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  color: #111;
  line-height: 1.5;
  z-index: 1;
}
#email.cont .email_box > p::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #fff;
  opacity: 0.7;
  z-index: -1;
}
#email.cont a {
  display: inline-block;
  padding: 2rem 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 999px;
  background: #fff;
}
#email.cont a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  background: url();
}
#email.cont a.is-hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
}

@media (min-width: 1920px) {
  #title.cont .tit h2 {
    font-size: 20rem;
  }
}
@media (max-width: 1600px) {
  section.cont {
    display: block;
    min-height: 100vh;
    padding: 9rem 0;
  }
  .inner {
    padding: 0 2rem;
  }
  #title.cont .inner {
    max-width: 140rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10rem;
    padding-left: 0;
    padding-right: 0;
  }
  #about.cont .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #about.cont .flex .img-cont {
    width: 50%;
    margin-bottom: 6rem;
  }
}
@media (max-width: 768px) {
  section.cont {
    display: block;
    min-height: auto;
    padding: 9rem 0;
  }
  .inner {
    padding: 0 2rem;
  }
  #title.cont .inner {
    padding: 0 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #about.cont .flex {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #about.cont .flex .img-cont {
    width: 100%;
    height: 30rem;
    margin-bottom: 3rem;
  }
  #about.cont .flex .txt-cont {
    margin-right: 0;
  }
  #about.cont .flex .txt-cont > p {
    font-size: 3rem;
  }
  #about.cont .skills-cont {
    margin-top: 5rem;
  }
  #portfolio.cont .flex {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  #portfolio.cont .flex .cont_box .img {
    height: 20rem;
  }
  #portfolio.cont .flex .cont_box .txt {
    padding: 2.5rem 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #portfolio.cont .flex .cont_box .txt .txt1 {
    margin-top: 1rem;
    color: #545456;
    font-weight: 500;
  }
  #email.cont .bg_main2 {
    padding: 7rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #email.cont .tit3 {
    word-break: keep-all;
  }
  #email.cont .email_box > p {
    display: inline;
    width: auto;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    color: #111;
    line-height: 1.5;
    z-index: 1;
  }
  #email.cont a {
    display: inline-block;
    padding: 1rem 3rem;
  }
  #email.cont a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    background: url();
  }
  #email.cont a.is-hover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
  }
}