@charset "UTF-8";
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
section.cont {
  display: block;
  min-height: 100dvh;
  padding: 12rem 0;
}

/* title */
#title.cont {
  overflow: hidden;
}
#title.cont .inner {
  margin-top: 4rem;
}
#title.cont .tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#title.cont .tit > h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #0036ff;
  font-size: 10vw;
  line-height: 1.2;
}
#title.cont .tit1 {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
  will-change: opacity, transform;
}
#title.cont .tit1.is-visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
#title.cont .tit1.is-visible.form-left {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}
#title.cont .tit1.is-visible.form-right {
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}
#title.cont .tit1.is-visible.form-in {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
#title.cont .tit .tit1-2 {
  text-shadow: -2px -2px 0 #0036ff, 2px -2px 0 #0036ff, -2px 2px 0 #0036ff, 2px 2px 0 #0036ff;
  color: #fff;
}

/* about */
#about.cont .inner > .flex {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#about.cont .flex {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#about.cont .flex .cont-about {
  width: calc(50% - 20rem);
}
#about.cont .flex .txt-cont {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 20rem;
}
#about.cont .flex .img-cont {
  width: 100%;
  height: 60rem;
  border-radius: 6px;
  overflow: hidden;
}
#about.cont .flex .img-cont img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about.cont .txt-cont .intro-txt > p {
  font-size: 5rem;
  font-weight: 500;
  color: #111;
  line-height: 1.5;
}
#about.cont .txt-cont .intro-txt > p > span {
  position: relative;
  display: inline-block;
}
#about.cont .txt-cont .intro-txt > p > span.highlight {
  --highlight: 0%;
}
#about.cont .txt-cont .intro-txt > p > span.highlight02::after {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
#about.cont .txt-cont .intro-txt > p > span.highlight03::after {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
#about.cont .txt-cont .intro-txt > p > span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: var(--highlight);
  height: 50%;
  background: #bfe2ff;
  opacity: 0.9;
  z-index: -1;
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
}
#about.cont .txt-cont .info-txt {
  margin-top: 5rem;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ddd;
  border-radius: 12px;
}
#about.cont .txt-cont .info-txt .flex + .flex {
  margin-top: 1rem;
}
#about.cont .txt-cont .info-txt .tit {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: auto;
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: #111;
  line-height: 1.6;
  word-break: keep-all;
  z-index: 1;
}
#about.cont .txt-cont .info-txt .tit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff;
  z-index: -1;
}
#about.cont .txt-cont .info-txt .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  font-weight: 500;
  color: #111;
  line-height: 1.6;
  word-break: keep-all;
}
#about.cont .skills-cont {
  margin-top: 15rem;
}
#about.cont .skills-cont > .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -2rem;
}
#about.cont .skills_chart {
  position: relative;
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
}
#about.cont .skills_box {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
#about.cont .skills_box:last-child {
  margin-right: 0;
}
#about.cont .skills_box .chart {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#about.cont .skills_box .chart .stroke {
  fill: transparent;
  stroke: #0036ff;
  stroke-width: 20;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 565.48;
  -webkit-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
#about.cont .skills_info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#about.cont .skills_info .tit {
  font-size: 2rem;
  font-weight: 600;
  color: #111;
}
#about.cont .skills_info .percentage {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #111;
}
#about.cont .skills_info > p {
  width: 100%;
  text-align: center;
}

/* portfolio */
#portfolio.cont {
  overflow: hidden;
}
#portfolio.cont .flex {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
#portfolio.cont .flex .cont_box {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#portfolio.cont .flex .cont_box:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
  border: 1px solid #cde4f6;
  -webkit-box-shadow: 0px 1px 10px #ddd;
          box-shadow: 0px 1px 10px #ddd;
}
#portfolio.cont .flex .cont_box a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#portfolio.cont .flex .cont_box .img {
  position: relative;
  z-index: 2;
  height: 30rem;
}
#portfolio.cont .flex .cont_box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#portfolio.cont .flex .cont_box .txt {
  position: relative;
  z-index: 2;
  padding: 5rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}
#portfolio.cont .flex .cont_box .txt .txt1 {
  margin-top: 1rem;
  color: #545456;
  font-weight: 500;
}

/* work_list */
#work_list.cont {
  background: #000;
}
#work_list.cont h3.tit2 {
  color: #fff;
}
#work_list.cont .tbody {
  width: 100%;
}
#work_list.cont .tr {
  position: relative;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  border-bottom: 1px solid #ddd;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#work_list.cont .tr.fill-box {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease;
  transition: all ease;
}
#work_list.cont .tr.fill-box:hover::after {
  width: 100vw;
  height: 100vw;
  -webkit-transition: width 0.3s ease-in 0.1s, height 0.3s ease-in 0.1s;
  transition: width 0.3s ease-in 0.1s, height 0.3s ease-in 0.1s;
}
#work_list.cont .tr.fill-box:hover p {
  color: #111;
}
#work_list.cont .tr.fill-box:hover a {
  color: #111;
}
#work_list.cont .tr.fill-box:hover a::after {
  background-image: url(../img/main/icon/icon-arrow.png);
  -webkit-transform: translate(1rem, -50%);
          transform: translate(1rem, -50%);
}
#work_list.cont .tr::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  width: 0;
  height: 0;
  background: #000;
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out;
  transition: width 0.3s ease-out, height 0.3s ease-out;
  background-color: #d8e7ff;
}
#work_list.cont .tr .td {
  position: relative;
  z-index: 2;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#work_list.cont .tr .td p {
  color: #fff;
}
#work_list.cont .tr .td .tit3 {
  font-weight: 600;
  color: #fff;
}
#work_list.cont .tr .td .txt {
  font-size: 1.7rem;
  line-height: 1.6;
  word-break: keep-all;
}
#work_list.cont .tr .td > a {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
#work_list.cont .tr .td > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 1rem;
  background: url(../img/main/icon/icon-arrow_w.png) no-repeat center center;
  background-size: 100% 100%;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

/* email */
#email.cont {
  min-height: auto;
}
#email.cont .tit4 {
  position: relative;
  z-index: 1;
  font-weight: 600;
  word-break: keep-all;
}
#email.cont .tit4 > span {
  position: relative;
  display: inline;
}
#email.cont .tit4 > span.highlight {
  --highlight: 0%;
}
#email.cont .tit4 > span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: var(--highlight);
  height: 50%;
  opacity: 0.9;
  z-index: -1;
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
  padding: 0 0.4rem;
  background: #d8e7ff;
  opacity: 0.8;
}
#email.cont .caption1 {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  color: #545456;
}
#email.cont .email_box > p {
  display: inline-block;
  width: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 8rem;
  font-weight: 700;
  color: #111;
  line-height: 1.5;
  z-index: 1;
  cursor: pointer;
}
#email.cont .btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  padding: 2rem 7rem 2rem 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 999px;
  background: #d8e7ff;
}
#email.cont .btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 1rem;
  background: url(../img/main/icon/icon-arrow.png) no-repeat center center;
  background-size: 100% 100%;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
#email.cont .btn.is-hover::after {
  -webkit-transform: translate(1rem, -50%);
          transform: translate(1rem, -50%);
}
#email.cont .toast-message {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 1.4rem;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
}
#email.cont .toast-message.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

@media (min-width: 1920px) {
  #title.cont .tit h2 {
    font-size: 18rem;
  }
}
@media (max-width: 1700px) {
  .inner {
    padding: 0 2rem;
  }
}
@media (max-width: 1600px) {
  section.cont {
    display: block;
    min-height: 100vh;
    padding: 9rem 0;
  }
  #title.cont .inner {
    max-width: unset;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width: 1200px) {
  #title.cont .inner {
    padding-left: 0;
    padding-right: 0;
  }
  #about.cont .inner > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #about.cont .flex .txt-cont {
    width: 100%;
    margin-right: 0;
    margin-top: 5rem;
  }
  #about.cont .flex .img-cont {
    width: 70%;
  }
  #about.cont .skills-cont > .flex {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  section.cont {
    display: block;
    min-height: auto;
    padding: 9rem 0;
  }
  #portfolio.cont .flex .cont_box:hover {
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #work_list.cont .tr.fill-box:hover p {
    color: #fff;
  }
  #work_list.cont .tr.fill-box:hover a {
    color: #111;
  }
  #work_list.cont .tr.fill-box a::after {
    display: none;
  }
  #work_list.cont .tr.fill-box a:hover {
    color: #111;
  }
  #work_list.cont .tr:hover {
    background: transparent;
  }
  #work_list.cont .tr::after {
    background-color: #000;
  }
  #email.cont .email_box > p {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  section.cont {
    display: block;
    min-height: auto;
    padding: 7rem 0 5rem;
  }
  .inner {
    padding: 0 1.2rem;
  }
  #title.cont {
    padding-top: 10rem;
  }
  #title.cont .inner {
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #title.cont .tit > h2 {
    font-size: 12vw;
  }
  #title.cont .tit1 {
    opacity: 0;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
    transition: opacity 1s ease-out, -webkit-transform 1s ease-out;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transition: opacity 1s ease-out, transform 1s ease-out, -webkit-transform 1s ease-out;
    will-change: opacity, transform;
  }
  #title.cont .tit1.is-visible {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  #title.cont .tit1.is-visible.form-left {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  #title.cont .tit1.is-visible.form-right {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  #title.cont .tit1.is-visible.form-in {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
  }
  #about.cont .flex {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #about.cont .flex .img-cont {
    width: 100%;
    height: 30rem;
  }
  #about.cont .flex .txt-cont {
    margin-right: 0;
  }
  #about.cont .flex .txt-cont .intro-txt > p {
    font-size: 3rem;
  }
  #about.cont .flex .txt-cont .info-txt {
    margin-top: 5rem;
    padding: 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ddd;
    border-radius: 12px;
  }
  #about.cont .flex .txt-cont .info-txt .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about.cont .flex .txt-cont .info-txt .tit {
    width: auto;
    font-size: 1.7rem;
    font-weight: 500;
    color: #111;
    line-height: 1.5;
  }
  #about.cont .flex .txt-cont .info-txt .txt {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #111;
    line-height: 1.5;
  }
  #about.cont .skills-cont {
    margin-top: 5rem;
  }
  #about.cont .skills_box {
    width: 50%;
    margin-right: 0;
  }
  #about.cont .skills_chart {
    max-width: 15rem;
  }
  #portfolio.cont .flex {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  #portfolio.cont .flex .cont_box .img {
    height: 20rem;
  }
  #portfolio.cont .flex .cont_box .txt {
    padding: 2.5rem 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #portfolio.cont .flex .cont_box .txt .txt1 {
    margin-top: 1rem;
    color: #545456;
    font-weight: 500;
  }
  #portfolio.cont .flex .cont_box:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #work_list.cont .tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #work_list.cont .tr:hover {
    background: #000;
  }
  #work_list.cont .tr.fill-box {
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease;
    transition: all ease;
  }
  #work_list.cont .tr.fill-box:hover p {
    color: #fff;
  }
  #work_list.cont .tr.fill-box:hover::after {
    display: none;
  }
  #work_list.cont .tr .td {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    padding: 1rem;
  }
  #work_list.cont .tr .td .btn-go {
    display: inline-block;
    background: #d8e7ff;
    color: #282828;
    padding: 1.5rem;
    font-size: 1.6rem;
  }
  #work_list.cont .tr .td.td-btn {
    margin-top: 1rem;
  }
  #work_list.cont .tr::after {
    display: none;
  }
  #email.cont .inner {
    padding: 0 1.2rem;
  }
  #email.cont .bg_main2 {
    padding: 7rem 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #email.cont .tit3 {
    word-break: keep-all;
  }
  #email.cont .email_box > p {
    display: inline-block;
    position: relative;
    font-size: 3.3rem;
    font-weight: 700;
    color: #111;
    line-height: 1.5;
    z-index: 1;
  }
  #email.cont .btn {
    display: inline-block;
    padding: 1rem 5rem 1rem 2rem;
  }
  #email.cont .btn::after {
    right: 2rem;
  }
  #email.cont .btn.is-hover::after {
    content: "";
    -webkit-transform: none;
            transform: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}