@charset "UTF-8";
/*────────────
▶ color
────────────*/
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
/* background-color */
.bg_main {
  background-color: #0036ff;
}
.bg_main2 {
  background-color: #d8e7ff;
}
.bg_point {
  background-color: #bfe2ff;
}
.bg_realwhite {
  background-color: #fff;
}
.bg_realblack {
  background-color: #000;
}
.bg_black {
  background-color: #111;
}
.bg_semiblack {
  background-color: #010101;
}
.bg_gray {
  background-color: #545456;
}
.bg_grayfont {
  background-color: #757575;
}
.bg_graybg {
  background-color: #979797;
}
.bg_graybd {
  background-color: #ddd;
}
.bg_lightgray {
  background-color: #f3f3f3;
}
.bg_dangerbg {
  background-color: #FDECEA;
}
.bg_successbg {
  background-color: #E3F2FD;
}
.bg_warningbg {
  background-color: #FFF8E1;
}

/* font-color */
.color_main {
  color: #0036ff;
}
.color_main2 {
  color: #d8e7ff;
}
.color_point {
  color: #bfe2ff;
}
.color_realwhite {
  color: #fff;
}
.color_realblack {
  color: #000;
}
.color_black {
  color: #111;
}
.color_semiblack {
  color: #010101;
}
.color_gray {
  color: #545456;
}
.color_grayfont {
  color: #757575;
}
.color_graybg {
  color: #979797;
}
.color_graybd {
  color: #ddd;
}
.color_lightgray {
  color: #f3f3f3;
}
.color_danger {
  color: #D32F2F;
}
.color_success {
  color: #1976D2;
}
.color_warning {
  color: #F9A825;
}

/*────────────
▶ font
────────────*/
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Pretendard-Thin.woff") format("woff");
}
/* title */
.tit1 {
  font-size: 20rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .tit1 {
    font-size: 10rem;
  }
}
.tit2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .tit2 {
    font-size: 2rem;
  }
}
.tit3 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .tit3 {
    font-size: 1.8rem;
  }
}
.tit4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .tit4 {
    font-size: 1.5rem;
  }
}
.tit5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .tit5 {
    font-size: 1.4rem;
  }
}

/* text */
.txt1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .txt1 {
    font-size: 1.4rem;
  }
}
.txt2, .txt__default {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .txt2, .txt__default {
    font-size: 1.3rem;
  }
}

/* caption */
.caption1 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .caption1 {
    font-size: 1.3rem;
  }
}
.caption2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025rem;
}
@media (max-width: 1024px) {
  .caption2 {
    font-size: 1.2rem;
  }
}

/* essential */
.essential::after {
  content: "*";
  margin-left: 0.3rem;
  margin-top: -0.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0;
  letter-spacing: -0.025rem;
  color: #0036ff;
  vertical-align: middle;
  line-height: 0;
}
@media (max-width: 1024px) {
  .essential::after {
    font-size: 1.3rem;
  }
}

/* font-size */
.fs-10 {
  font-size: calc(10 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-10 {
    font-size: calc(10 / 12) rem;
  }
}

.fs-11 {
  font-size: calc(11 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-11 {
    font-size: calc(11 / 12) rem;
  }
}

.fs-12 {
  font-size: calc(12 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-12 {
    font-size: calc(12 / 12) rem;
  }
}

.fs-13 {
  font-size: calc(13 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-13 {
    font-size: calc(13 / 12) rem;
  }
}

.fs-14 {
  font-size: calc(14 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-14 {
    font-size: calc(14 / 12) rem;
  }
}

.fs-15 {
  font-size: calc(15 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-15 {
    font-size: calc(15 / 12) rem;
  }
}

.fs-16 {
  font-size: calc(16 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-16 {
    font-size: calc(16 / 12) rem;
  }
}

.fs-17 {
  font-size: calc(17 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-17 {
    font-size: calc(17 / 12) rem;
  }
}

.fs-18 {
  font-size: calc(18 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-18 {
    font-size: calc(18 / 12) rem;
  }
}

.fs-19 {
  font-size: calc(19 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-19 {
    font-size: calc(19 / 12) rem;
  }
}

.fs-20 {
  font-size: calc(20 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-20 {
    font-size: calc(20 / 12) rem;
  }
}

.fs-21 {
  font-size: calc(21 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-21 {
    font-size: calc(21 / 12) rem;
  }
}

.fs-22 {
  font-size: calc(22 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-22 {
    font-size: calc(22 / 12) rem;
  }
}

.fs-23 {
  font-size: calc(23 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-23 {
    font-size: calc(23 / 12) rem;
  }
}

.fs-24 {
  font-size: calc(24 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-24 {
    font-size: calc(24 / 12) rem;
  }
}

.fs-25 {
  font-size: calc(25 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-25 {
    font-size: calc(25 / 12) rem;
  }
}

.fs-26 {
  font-size: calc(26 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-26 {
    font-size: calc(26 / 12) rem;
  }
}

.fs-27 {
  font-size: calc(27 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-27 {
    font-size: calc(27 / 12) rem;
  }
}

.fs-28 {
  font-size: calc(28 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-28 {
    font-size: calc(28 / 12) rem;
  }
}

.fs-29 {
  font-size: calc(29 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-29 {
    font-size: calc(29 / 12) rem;
  }
}

.fs-30 {
  font-size: calc(30 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-30 {
    font-size: calc(30 / 12) rem;
  }
}

.fs-31 {
  font-size: calc(31 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-31 {
    font-size: calc(31 / 12) rem;
  }
}

.fs-32 {
  font-size: calc(32 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-32 {
    font-size: calc(32 / 12) rem;
  }
}

.fs-33 {
  font-size: calc(33 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-33 {
    font-size: calc(33 / 12) rem;
  }
}

.fs-34 {
  font-size: calc(34 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-34 {
    font-size: calc(34 / 12) rem;
  }
}

.fs-35 {
  font-size: calc(35 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-35 {
    font-size: calc(35 / 12) rem;
  }
}

.fs-36 {
  font-size: calc(36 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-36 {
    font-size: calc(36 / 12) rem;
  }
}

.fs-37 {
  font-size: calc(37 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-37 {
    font-size: calc(37 / 12) rem;
  }
}

.fs-38 {
  font-size: calc(38 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-38 {
    font-size: calc(38 / 12) rem;
  }
}

.fs-39 {
  font-size: calc(39 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-39 {
    font-size: calc(39 / 12) rem;
  }
}

.fs-40 {
  font-size: calc(40 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-40 {
    font-size: calc(40 / 12) rem;
  }
}

.fs-41 {
  font-size: calc(41 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-41 {
    font-size: calc(41 / 12) rem;
  }
}

.fs-42 {
  font-size: calc(42 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-42 {
    font-size: calc(42 / 12) rem;
  }
}

.fs-43 {
  font-size: calc(43 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-43 {
    font-size: calc(43 / 12) rem;
  }
}

.fs-44 {
  font-size: calc(44 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-44 {
    font-size: calc(44 / 12) rem;
  }
}

.fs-45 {
  font-size: calc(45 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-45 {
    font-size: calc(45 / 12) rem;
  }
}

.fs-46 {
  font-size: calc(46 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-46 {
    font-size: calc(46 / 12) rem;
  }
}

.fs-47 {
  font-size: calc(47 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-47 {
    font-size: calc(47 / 12) rem;
  }
}

.fs-48 {
  font-size: calc(48 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-48 {
    font-size: calc(48 / 12) rem;
  }
}

.fs-49 {
  font-size: calc(49 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-49 {
    font-size: calc(49 / 12) rem;
  }
}

.fs-50 {
  font-size: calc(50 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-50 {
    font-size: calc(50 / 12) rem;
  }
}

.fs-51 {
  font-size: calc(51 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-51 {
    font-size: calc(51 / 12) rem;
  }
}

.fs-52 {
  font-size: calc(52 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-52 {
    font-size: calc(52 / 12) rem;
  }
}

.fs-53 {
  font-size: calc(53 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-53 {
    font-size: calc(53 / 12) rem;
  }
}

.fs-54 {
  font-size: calc(54 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-54 {
    font-size: calc(54 / 12) rem;
  }
}

.fs-55 {
  font-size: calc(55 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-55 {
    font-size: calc(55 / 12) rem;
  }
}

.fs-56 {
  font-size: calc(56 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-56 {
    font-size: calc(56 / 12) rem;
  }
}

.fs-57 {
  font-size: calc(57 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-57 {
    font-size: calc(57 / 12) rem;
  }
}

.fs-58 {
  font-size: calc(58 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-58 {
    font-size: calc(58 / 12) rem;
  }
}

.fs-59 {
  font-size: calc(59 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-59 {
    font-size: calc(59 / 12) rem;
  }
}

.fs-60 {
  font-size: calc(60 / 10) rem;
}
@media (max-width: 1024px) {
  .fs-60 {
    font-size: calc(60 / 12) rem;
  }
}

/* font-weight */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

/* 줄바꿈 기준 */
.keep-all {
  word-break: keep-all;
  /* 줄바꿈 기준 + 줄바꿈 스타일 */
}
.keep-all-pretty {
  word-break: keep-all;
  text-wrap-style: pretty;
}
.keep-all-balance {
  word-break: keep-all;
  text-wrap-style: balance;
}

.break-all {
  word-break: break-all;
  /* 줄바꿈 기준 + 줄바꿈 스타일 */
}
.break-all-pretty {
  word-break: break-all;
  text-wrap-style: pretty;
}
.break-all-balance {
  word-break: break-all;
  text-wrap-style: balance;
}

/* 줄바꿈 스타일 */
.t-pretty {
  text-wrap-style: pretty;
}

.t-balance {
  text-wrap-style: balance;
}

/* class::lists */
.lists li {
  position: relative;
  padding-left: 1rem;
}
.lists li:before {
  content: "";
  position: absolute;
  left: 0;
}
.lists li + li {
  margin-top: 0.4rem;
}
.lists.num {
  counter-reset: num;
}
.lists.num li:before {
  counter-increment: num;
  content: counter(num) ".";
}
.lists.num.cir li:before {
  line-height: 1.6rem;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  font-weight: 400;
  border-radius: 100%;
  border: 0.1px solid #555;
  vertical-align: middle;
}
.lists.num-square {
  counter-reset: num;
}
.lists.num-square li {
  padding-left: 4.2rem;
}
.lists.num-square li::before {
  counter-increment: num;
  content: counter(num);
  top: 0.15rem;
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
  background-color: #0036ff;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025rem;
}
.lists.num-square li + li {
  margin-top: 1.6rem;
}
@media (max-width: 1024px) {
  .lists.num-square li {
    padding-left: 3.2rem;
    word-break: keep-all;
  }
  .lists.num-square li::before {
    top: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .lists.num-square li + li {
    margin-top: 0.8rem;
  }
}
.lists.dot li:before {
  content: "·";
}
.lists.bar li:before {
  content: "-";
}
.lists.ko > li:nth-child(1)::before {
  content: "가.";
}
.lists.ko > li:nth-child(2)::before {
  content: "나.";
}
.lists.ko > li:nth-child(3)::before {
  content: "다.";
}
.lists.ko > li:nth-child(4)::before {
  content: "라.";
}
.lists.ko > li:nth-child(5)::before {
  content: "마.";
}
.lists.ko > li:nth-child(6)::before {
  content: "바.";
}
.lists.ko > li:nth-child(7)::before {
  content: "사.";
}
.lists.ko > li:nth-child(8)::before {
  content: "아.";
}
.lists.ko > li:nth-child(9)::before {
  content: "자.";
}
.lists.ko > li:nth-child(10)::before {
  content: "차.";
}
.lists.ko > li:nth-child(11)::before {
  content: "카.";
}
.lists.ko > li:nth-child(13)::before {
  content: "타.";
}
.lists.ko > li:nth-child(14)::before {
  content: "파.";
}
.lists.ko > li:nth-child(15)::before {
  content: "하.";
}

/*────────────
▶ area
────────────*/
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.pc-item {
  display: block;
}
@media (max-width: 768px) {
  .pc-item {
    display: none;
  }
}

.mo-item {
  display: none;
}
@media (max-width: 768px) {
  .mo-item {
    display: block;
  }
}

/* flex */
.flex {
  -ms-display: flexbox; /* Over IE10 */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */ /* NEW - Chrome */
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-start {
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
  -moz-box-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  -moz-box-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
}

.gap-1 {
  gap: 0.1rem;
}
@media (max-width: 1024px) {
  .gap-1 {
    gap: 0.08rem;
  }
}

.gap-2 {
  gap: 0.2rem;
}
@media (max-width: 1024px) {
  .gap-2 {
    gap: 0.16rem;
  }
}

.gap-3 {
  gap: 0.3rem;
}
@media (max-width: 1024px) {
  .gap-3 {
    gap: 0.24rem;
  }
}

.gap-4 {
  gap: 0.4rem;
}
@media (max-width: 1024px) {
  .gap-4 {
    gap: 0.32rem;
  }
}

.gap-5 {
  gap: 0.5rem;
}
@media (max-width: 1024px) {
  .gap-5 {
    gap: 0.4rem;
  }
}

.gap-6 {
  gap: 0.6rem;
}
@media (max-width: 1024px) {
  .gap-6 {
    gap: 0.48rem;
  }
}

.gap-7 {
  gap: 0.7rem;
}
@media (max-width: 1024px) {
  .gap-7 {
    gap: 0.56rem;
  }
}

.gap-8 {
  gap: 0.8rem;
}
@media (max-width: 1024px) {
  .gap-8 {
    gap: 0.64rem;
  }
}

.gap-9 {
  gap: 0.9rem;
}
@media (max-width: 1024px) {
  .gap-9 {
    gap: 0.72rem;
  }
}

.gap-10 {
  gap: 1rem;
}
@media (max-width: 1024px) {
  .gap-10 {
    gap: 0.8rem;
  }
}

.gap-11 {
  gap: 1.1rem;
}
@media (max-width: 1024px) {
  .gap-11 {
    gap: 0.88rem;
  }
}

.gap-12 {
  gap: 1.2rem;
}
@media (max-width: 1024px) {
  .gap-12 {
    gap: 0.96rem;
  }
}

.gap-13 {
  gap: 1.3rem;
}
@media (max-width: 1024px) {
  .gap-13 {
    gap: 1.04rem;
  }
}

.gap-14 {
  gap: 1.4rem;
}
@media (max-width: 1024px) {
  .gap-14 {
    gap: 1.12rem;
  }
}

.gap-15 {
  gap: 1.5rem;
}
@media (max-width: 1024px) {
  .gap-15 {
    gap: 1.2rem;
  }
}

.gap-16 {
  gap: 1.6rem;
}
@media (max-width: 1024px) {
  .gap-16 {
    gap: 1.28rem;
  }
}

.gap-17 {
  gap: 1.7rem;
}
@media (max-width: 1024px) {
  .gap-17 {
    gap: 1.36rem;
  }
}

.gap-18 {
  gap: 1.8rem;
}
@media (max-width: 1024px) {
  .gap-18 {
    gap: 1.44rem;
  }
}

.gap-19 {
  gap: 1.9rem;
}
@media (max-width: 1024px) {
  .gap-19 {
    gap: 1.52rem;
  }
}

.gap-20 {
  gap: 2rem;
}
@media (max-width: 1024px) {
  .gap-20 {
    gap: 1.6rem;
  }
}

.gap-21 {
  gap: 2.1rem;
}
@media (max-width: 1024px) {
  .gap-21 {
    gap: 1.68rem;
  }
}

.gap-22 {
  gap: 2.2rem;
}
@media (max-width: 1024px) {
  .gap-22 {
    gap: 1.76rem;
  }
}

.gap-23 {
  gap: 2.3rem;
}
@media (max-width: 1024px) {
  .gap-23 {
    gap: 1.84rem;
  }
}

.gap-24 {
  gap: 2.4rem;
}
@media (max-width: 1024px) {
  .gap-24 {
    gap: 1.92rem;
  }
}

.gap-25 {
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .gap-25 {
    gap: 2rem;
  }
}

.gap-26 {
  gap: 2.6rem;
}
@media (max-width: 1024px) {
  .gap-26 {
    gap: 2.08rem;
  }
}

.gap-27 {
  gap: 2.7rem;
}
@media (max-width: 1024px) {
  .gap-27 {
    gap: 2.16rem;
  }
}

.gap-28 {
  gap: 2.8rem;
}
@media (max-width: 1024px) {
  .gap-28 {
    gap: 2.24rem;
  }
}

.gap-29 {
  gap: 2.9rem;
}
@media (max-width: 1024px) {
  .gap-29 {
    gap: 2.32rem;
  }
}

.gap-30 {
  gap: 3rem;
}
@media (max-width: 1024px) {
  .gap-30 {
    gap: 2.4rem;
  }
}

.gap-31 {
  gap: 3.1rem;
}
@media (max-width: 1024px) {
  .gap-31 {
    gap: 2.48rem;
  }
}

.gap-32 {
  gap: 3.2rem;
}
@media (max-width: 1024px) {
  .gap-32 {
    gap: 2.56rem;
  }
}

.gap-33 {
  gap: 3.3rem;
}
@media (max-width: 1024px) {
  .gap-33 {
    gap: 2.64rem;
  }
}

.gap-34 {
  gap: 3.4rem;
}
@media (max-width: 1024px) {
  .gap-34 {
    gap: 2.72rem;
  }
}

.gap-35 {
  gap: 3.5rem;
}
@media (max-width: 1024px) {
  .gap-35 {
    gap: 2.8rem;
  }
}

.gap-36 {
  gap: 3.6rem;
}
@media (max-width: 1024px) {
  .gap-36 {
    gap: 2.88rem;
  }
}

.gap-37 {
  gap: 3.7rem;
}
@media (max-width: 1024px) {
  .gap-37 {
    gap: 2.96rem;
  }
}

.gap-38 {
  gap: 3.8rem;
}
@media (max-width: 1024px) {
  .gap-38 {
    gap: 3.04rem;
  }
}

.gap-39 {
  gap: 3.9rem;
}
@media (max-width: 1024px) {
  .gap-39 {
    gap: 3.12rem;
  }
}

.gap-40 {
  gap: 4rem;
}
@media (max-width: 1024px) {
  .gap-40 {
    gap: 3.2rem;
  }
}

.gap-41 {
  gap: 4.1rem;
}
@media (max-width: 1024px) {
  .gap-41 {
    gap: 3.28rem;
  }
}

.gap-42 {
  gap: 4.2rem;
}
@media (max-width: 1024px) {
  .gap-42 {
    gap: 3.36rem;
  }
}

.gap-43 {
  gap: 4.3rem;
}
@media (max-width: 1024px) {
  .gap-43 {
    gap: 3.44rem;
  }
}

.gap-44 {
  gap: 4.4rem;
}
@media (max-width: 1024px) {
  .gap-44 {
    gap: 3.52rem;
  }
}

.gap-45 {
  gap: 4.5rem;
}
@media (max-width: 1024px) {
  .gap-45 {
    gap: 3.6rem;
  }
}

.gap-46 {
  gap: 4.6rem;
}
@media (max-width: 1024px) {
  .gap-46 {
    gap: 3.68rem;
  }
}

.gap-47 {
  gap: 4.7rem;
}
@media (max-width: 1024px) {
  .gap-47 {
    gap: 3.76rem;
  }
}

.gap-48 {
  gap: 4.8rem;
}
@media (max-width: 1024px) {
  .gap-48 {
    gap: 3.84rem;
  }
}

.gap-49 {
  gap: 4.9rem;
}
@media (max-width: 1024px) {
  .gap-49 {
    gap: 3.92rem;
  }
}

.gap-50 {
  gap: 5rem;
}
@media (max-width: 1024px) {
  .gap-50 {
    gap: 4rem;
  }
}

.gap-51 {
  gap: 5.1rem;
}
@media (max-width: 1024px) {
  .gap-51 {
    gap: 4.08rem;
  }
}

.gap-52 {
  gap: 5.2rem;
}
@media (max-width: 1024px) {
  .gap-52 {
    gap: 4.16rem;
  }
}

.gap-53 {
  gap: 5.3rem;
}
@media (max-width: 1024px) {
  .gap-53 {
    gap: 4.24rem;
  }
}

.gap-54 {
  gap: 5.4rem;
}
@media (max-width: 1024px) {
  .gap-54 {
    gap: 4.32rem;
  }
}

.gap-55 {
  gap: 5.5rem;
}
@media (max-width: 1024px) {
  .gap-55 {
    gap: 4.4rem;
  }
}

.gap-56 {
  gap: 5.6rem;
}
@media (max-width: 1024px) {
  .gap-56 {
    gap: 4.48rem;
  }
}

.gap-57 {
  gap: 5.7rem;
}
@media (max-width: 1024px) {
  .gap-57 {
    gap: 4.56rem;
  }
}

.gap-58 {
  gap: 5.8rem;
}
@media (max-width: 1024px) {
  .gap-58 {
    gap: 4.64rem;
  }
}

.gap-59 {
  gap: 5.9rem;
}
@media (max-width: 1024px) {
  .gap-59 {
    gap: 4.72rem;
  }
}

.gap-60 {
  gap: 6rem;
}
@media (max-width: 1024px) {
  .gap-60 {
    gap: 4.8rem;
  }
}

.ta_l {
  text-align: left;
}
.ta_c {
  text-align: center;
}
.ta_r {
  text-align: right;
}

/*────────────
▶ interval
────────────*/
/* 색상 변수 */
/* 글자크기 변수 */
/* 크기 관련 변수 */
/* 여백 */
/* 공통 스타일 */
/* 컬러 매핑 */
/* wrap */
/* 폰트 */
/* screen reader only */
/* === 간격 === */
/* margin */
.mx-auto {
  margin: 0 auto;
}
.mr_auto {
  margin-right: auto;
}
.mr_10 {
  margin-right: 1rem;
}
.mr_20 {
  margin-right: 2rem;
}
.mr_30 {
  margin-right: 3rem;
}
.ml_auto {
  margin-left: auto;
}
.ml_4 {
  margin-left: 0.4rem;
}
.ml_8 {
  margin-left: 0.8rem;
}
.ml_10 {
  margin-left: 1rem;
}
.ml_20 {
  margin-left: 2rem;
}
.ml_30 {
  margin-left: 3rem;
}
.mt_10 {
  margin-top: 1rem;
}
.mt_20 {
  margin-top: 2rem;
}
.mt_24 {
  margin-top: 2.4rem;
}
@media (max-width: 1024px) {
  .mt_24 {
    margin-top: 1.6rem;
  }
}
.mt_30 {
  margin-top: 3rem;
}
.mt_32 {
  margin-top: 3.2rem;
}
@media (max-width: 1024px) {
  .mt_32 {
    margin-top: 1.6rem;
  }
}
.mt_40 {
  margin-top: 4rem;
}
.mt_45 {
  margin-top: 4.5rem;
}
.mt_48 {
  margin-top: 4.8rem;
}
@media (max-width: 1024px) {
  .mt_48 {
    margin-top: 2.4rem;
  }
}
.mt_50 {
  margin-top: 5rem;
}
.mt_60 {
  margin-top: 6rem;
}
.mt_70 {
  margin-top: 7rem;
}
.mt_80 {
  margin-top: 8rem;
}
.mb_10 {
  margin-bottom: 1rem;
}
.mb_20 {
  margin-bottom: 2rem;
}
.mb_30 {
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  .mb_30 {
    margin-bottom: 1.6rem;
  }
}
.mb_40 {
  margin-bottom: 4rem;
}
.mb_50 {
  margin-bottom: 5rem;
}
.mb_60 {
  margin-bottom: 6rem;
}
.mb_70 {
  margin-bottom: 7rem;
}
@media (max-width: 1024px) {
  .mb_70 {
    margin-bottom: 4rem;
  }
}
.mb_120 {
  margin-bottom: 12rem;
}

/* padding */
.pd-all_10 {
  padding: 1rem;
}
.pd-all_20 {
  padding: 2rem;
}
.pd-all_40 {
  padding: 4rem;
}
@media (max-width: 1024px) {
  .pd-all_40 {
    padding: 3rem;
  }
}
.pd-all_40__16 {
  padding: 4rem;
}
@media (max-width: 1024px) {
  .pd-all_40__16 {
    padding: 1.6rem;
  }
}
.pd-all_90 {
  padding: 9rem;
}
@media (max-width: 1024px) {
  .pd-all_90 {
    padding: 6rem;
  }
}

.pd-x_20 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pd-x_50 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pd-y_6 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.pd-y_12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}