@use "sass:math";

/* 색상 변수 */
$color-main: #0036ff;
$color-main2: #d8e7ff;
$color-point: #bfe2ff;
$color-hover: #ecf7ff;

$color-realblack: #000;
$color-realwhite: #fff;
$color-black: #111;

$color-semiblack: #010101;
$color-gray: #545456;
$color-grayfont: #757575;
$color-graybg: #979797;
$color-graybd: #ddd;
$color-lightgray: #f3f3f3;

$color-danger:     #D32F2F;
$color-success:    #1976D2;
$color-warning:    #F9A825;

$color-dangerbg:   #FDECEA;
$color-successbg:  #E3F2FD;
$color-warningbg:  #FFF8E1;

/* 글자크기 변수 */
$tit-sizes: (
	depth1: 20rem,
	depth2: 3rem,
	depth3: 2.6rem,
	depth4: 2rem,
	depth5: 1.8rem,
	depth1-m: 10rem,
	depth2-m: 2rem,
	depth3-m: 1.8rem,
	depth4-m: 1.6rem,
	depth5-m: 1.5rem
);

$txt-sizes: (
	depth1: 1.6rem,
	depth2: 1.5rem,
	depth1-m: 1.4rem,
	depth2-m: 1.3rem,
);

$caption-sizes: (
	depth1: 1.5rem,
	depth2: 1.4rem,
	depth1-m: 1.3rem,
	depth2-m: 1.2rem,
);

/* 크기 관련 변수 */
$rdo-size: 20px;
$rdo-chk: 8px;
$chk-size: 20px;
$chk-primary-chk: 12px;

/* 여백 */
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;

/* 공통 스타일 */
$rd-full: 50%;
$rd-4: 4px;

/* 컬러 매핑 */
$gray-20: $color-graybg;
$gray-40: $color-graybd;
$primary: $color-main;
$white: $color-realwhite;

/* wrap */
$container: 160rem;

/* header */
$header-height: 9rem;