@charset 'utf-8';
@use 'mixin' as *;

body {
    @include pos($p:relative);
}

header{
    @include pos($p:fixed,$t:0,$l:0);
    width: 100%;
    height: 9rem;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(5px);
    z-index: 3;
    &.sub {
        box-shadow: 0 0 7px #ddd;
    }
}
.header {
    &-inner {
        max-width: 160rem;
        height: 100%;
        margin: 0 auto;
        @include d-flex;
        @include justify-between;
        @include align-center;
    }
    .gnb {
        ul {
            @include d-flex;
            li {
                padding: 0 3rem;
                box-sizing: border-box;
                a {
                    @include pos($p:relative);
                    display: inline-block;
                    width: 100%;
                    font-weight: 500;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

/* 반응형 */
@media (max-width:1600px) {
    .header {
        &-inner {
            max-width: unset;
            padding: 0 2rem;
        }
    }
}

@media (max-width:768px) {
    header{
        height: 7rem;
    }
    .header {
        &-inner {
            padding: 0 1.2rem;
        }
        .gnb {
            @include pos($p:fixed, $t:0, $r:0);
            display: none;
            width: 50%;
            height: 100vh;
            background: $color-realwhite;
            box-shadow: -5px 0px 10px 0px #6c6c6c54;
            transform: translateX(100%);
            transition: transform .3s ease-in-out;
            &.is-active {
                display: inline-block;
                transform: translateX(0);
            }
            ul {
                height: 100%;
                flex-direction: column;
                margin-top: 5rem;
                li {
                    flex: none;
                    padding: 2rem 3rem;
                }
            }
        }
        .btn {
            &-menu {
                width: 2.1rem;
                background: transparent;
                img {
                    width: 100%;
                }
            }
            &-close {
                @include pos($p:absolute,$t:2rem,$r:1.2rem);
                width: 3rem;
                background: transparent;
                img {
                    width: 100%;
                }
            }
        }
    }
}