@charset 'utf-8';
@use 'mixin' as *;

.btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 0.8rem;
	border: 1px solid transparent;
	padding: .8rem;
	background: none;
	appearance: none;
	cursor: pointer;

	/* 글자 스타일 강제 */
	font: inherit;
	font-size: map-get($txt-sizes, depth2);
	font-weight: 400;
	letter-spacing: -0.015em;
	color: inherit;

	
	/* 줄 간격 차이 제거 */
	vertical-align: middle;

	/* 링크 기본 스타일 제거 */
	&:link,
	&:visited {
		text-decoration: none;
	}

	/* 버튼 hover */
	@include res_hover{
		&:hover{ text-decoration: underline; text-underline-position: from-font; transition: all .2s;}
	}

	/* 버튼 포커스 */
	&:focus{ @include focus($offset: .2rem, $color: $color-main); transition: unset;}
	&.is-focus{ @include is-focus;}

	+ .btn:not(.btn-half, .btn-full){ margin-left: 0.5rem;}
	
	/* 글자크기 및 높이 */
	&_s{ font-size: map-get($caption-sizes, depth1); min-width: 6rem; padding: .4rem .8rem;
		@include res1024{ font-size: map-get($caption-sizes, depth1-m); min-width: 6rem; padding: .3rem .6rem;}
	}
	&_m{ font-size: map-get($txt-sizes, depth1); min-width: 10rem; padding: 1.5rem 4rem;
		@include res1024{ font-size: map-get($txt-sizes, depth2); min-width: 10.8rem; padding: 1.6rem 0.9rem;}
	}
	&_l{ font-size: map-get($txt-sizes, depth1); min-width: 12rem; padding: 1.261rem 4rem; line-height: 1.6; font-weight: 500;
		@include res1024{ font-size: map-get($txt-sizes, depth1-m); min-width: 10rem; padding: 1.582rem 2rem;}
	}

	&_half{ width: calc(50% - .4rem);}
	&_full{ width: 100%;
		+ .btn-full{ margin-top: 1rem;}
	}

	&_default{ border: 1px solid $color-graybd; background-color: $color-realwhite; color: $color-black;
		@include res_hover{
			&:hover{ background-color: #F3F6FA;}
		}
	}

	/* 메인 계열 */
	&_bg-main { background-color: $color-main; color: $color-realwhite;
		@include res_hover{
			&:hover{ background-color: #1351C3;}
		}
	}
	&_bd-main { border: 1px solid $color-main; background-color: $color-realwhite; color: $color-main; }

	&_bg-main2 { background-color: $color-main2; color: $color-realwhite;
		@include res_hover{
			&:hover{ background-color: #0f417b;}
		}
	}
	&_bd-main2 { border: 1px solid $color-main2; background-color: $color-realwhite; color: $color-main2; }

	/* 포인트 계열 */
	&_bg-point { background-color: $color-point; color: $color-realblack; }
	&_bd-point { border: 1px solid $color-point; background-color: $color-realwhite; color: $color-point; }

	/* 그레이 계열 */
	&_bg-gray { background-color: $color-graybg; color: $color-black; }
	&_bd-gray { border: 1px solid $color-graybd; background-color: $color-realwhite;}

	/* 블랙 */
	&_bg-black { background-color: $color-black; color: $color-realwhite; }
	&_bd-black { border: 1px solid $color-black; background-color: $color-realwhite; color: $color-black; }

	/* 상태계열 (Success / Warning / Danger) */
	&_bg-success { background-color: $color-success; color: $color-realwhite; }
	&_bd-success { border: 1px solid $color-success; background-color: $color-realwhite; color: $color-success; }

	&_bg-warning { background-color: $color-warning; color: $color-black; }
	&_bd-warning { border: 1px solid $color-warning; background-color: $color-realwhite; color: $color-warning; }

	&_bg-danger { background-color: $color-danger; color: $color-realwhite; }
	&_bd-danger { border: 1px solid $color-danger; background-color: $color-realwhite; color: $color-danger; }

	&_delete{ border: 1px solid $color-graybd; background-color: #f9f9f9; color: $color-black;
		@include res_hover{
			&:hover{ background-color: #EFEFEF;}
		}
	}
	&_list{ width: 16rem; border: 1px solid #CED1D3; background-color: $color-realwhite; color: #000;}
	&_modi{ width: 16rem; border: 1px solid $color-main; background-color: $color-realwhite; color: $color-main;}
	&_save{ width: 16rem; background-color: $color-main; color: $color-realwhite;}
	&_link{ display: inline-flex; @include align-center; @include justify-center; column-gap: .4rem; width: fit-content; height: 5.6rem; line-height: 5.4rem; padding: 0 2.2rem; border: 1px solid $color-graybd; background-color: $color-realwhite; color: #000;
		&::after{ content: ''; display: block; width: 2.4rem; height: 2.4rem; background-image: url('./../image/common//arrow_right_alt.svg'); background-repeat: no-repeat; background-position: center; background-size: 1.5rem;}
	}
	&_link-right{ display: inline-flex; @include align-center; @include justify-center; column-gap: .6rem; width: fit-content; min-width: fit-content; padding-left: 2.2rem; padding-right: 2.2rem;
		&::after{ content: ''; display: block; width: 1.6rem; height: 1.2rem; background-image: url('../img/common/icon-link-right.png'); background-repeat: no-repeat; background-position: center right; background-size: .8rem;}
	}
	&_fileGray{ padding: 0.95rem 2.9rem; border-color: $color-graybd; background-color: $color-graybg;
		@include res1024{ padding: 1.121rem 1rem;}
	}

	&_download{ display: inline-flex; @include align-center; @include justify-center; column-gap: 1rem; width: 16rem; border: 1px solid $color-main; background-color: $color-realwhite; color: $color-main;
		&::after{
			content: url('./../image/common/icon-file-download.svg');
		}
	}
	&_action{ padding: 0.961rem 3.92rem; border: 1px solid $color-graybd; background-color: $color-graybg; color: $color-black; @include text-style(depth1,500,1.6);}

	&.fw{
		&_400{ font-weight: 400;}
		&_500{ font-weight: 500;}
		&_600{ font-weight: 600;}
		&_700{ font-weight: 700;}
	}
}

.btn-wrap{ @include d-flex; @include align-center; @include flex-wrap; gap: .8rem; row-gap: .8rem;
	&.nowrap{ @include flex-nowrap;
		@include res1024{
			li,
			.btn{ width: 100%; min-width: unset; max-width: 10.8rem;}
		}
	}
	&.al-center{ @include justify-center;}
	&.al-start{ @include justify-start;}
	&.al-end{ @include justify-end;}
	.btn + .btn{ margin-left: unset;}
	.btn-full + .btn-full{ margin-top: unset;}

	&:not(:has(.btn)){
		&.mt-20{ margin-top: 0;}
		&.mt-40{ margin-top: 0;}
		&.mt-50{ margin-top: 0;}
		&.mt-60{ margin-top: 0;}
	}
}
