@charset 'UTF-8';
@import 'bar';

@mixin res($w){
	@media(max-width:$w){
		@content;
	}
}
@mixin res1024{
	@media(max-width:1024px){
		@content;
	}
}
@mixin res768{
	@media(max-width:768px){
		@content;
	}
}

@mixin res_hover{
	@media(min-width:1280px){
		@content;
	}
}

@mixin pos(
	$p: absolute,
	$t: null,
	$b: null,
	$l: null,
	$r: null
) {
	position: $p;
	top: $t;
	bottom: $b;
	left: $l;
	right: $r;
}

@mixin container {
    width: 100%;
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
	@include res1024{ padding-left: 1.2rem; padding-right: 1.2rem;}
}

// grid
@mixin d-block {
    display:block;
}
@mixin d-grid {
    display:grid;
}
@mixin d-grid-column($y,$x){
    display:grid;
    grid-auto-flow:column;
    grid-gap:$y + rem $x + rem;
    gap:$y + rem $x + rem;
}
@mixin d-grid-column--repeat($num,$y,$x){
    display:grid;
    grid-template-columns: repeat($num,1fr);
    grid-gap:$y + rem $x + rem;
    gap:$y + rem $x + rem;
}
@mixin d-flex{
    -ms-display: flexbox;      /* Over IE10 */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display:flex;
}
@mixin inline-flex{
	display: inline-flex;
	display: -webkit-inline-flex;
}
@mixin flex-column{
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@mixin flex-row{
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
@mixin flex-wrap{
	-webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin flex-nowrap{
	-webkit-box-lines: single;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
@mixin flex-center {
    @include d-flex;
    @include align-center;
    @include justify-center;
}
@mixin align-center{
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin align-start{
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@mixin align-end{
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
@mixin justify-center{
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@mixin justify-start{
    -webkit-box-pack: start;
    -moz-box-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@mixin justify-end{
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@mixin justify-between{
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@mixin flex-none{
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

/* 폰트 */
@mixin font($s, $w, $c){
    font-size:$s + rem;
    font-weight:$w;
    color:$c;
}

@mixin title-style($depth, $weight, $line-height) {
	font-size: map-get($tit-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025rem;

	@include res1024 {
		font-size: map-get($tit-sizes, #{$depth}-m);
	}
}

@mixin text-style($depth, $weight, $line-height) {
	font-size: map-get($txt-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025rem;

	@include res1024 {
		font-size: map-get($txt-sizes, #{$depth}-m);
	}
}

@mixin caption-style($depth, $weight, $line-height) {
	font-size: map-get($caption-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025rem;

	@include res1024 {
		font-size: map-get($caption-sizes, #{$depth}-m);
	}
}

@mixin ellipsis-single {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin ellipsis-multiline($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin ellipsis-none {
	white-space: unset;
	overflow: unset;
	text-overflow: unset;
}


@mixin focus($offset: -.2rem, $color: $primary, $alpha: .8) {
	//border-radius: inherit;
	outline-offset: $offset;
	$transparent: 1 - $alpha;
	$focus-color: transparentize($color, $transparent);
	outline: 2px solid $focus-color;
}

@mixin is-focus{
	outline: 2px dashed $color-main;
	transition: unset;
}

/* screen reader only */
@mixin sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}