@charset 'utf-8';
@use 'mixin' as *;

// #wrap {position: relative; width: 100%; max-width: 160rem; margin: 0 auto;}
#wrap {position: relative; width: 100%; margin: 0 auto;}
.inner {max-width: 160rem; margin: 0 auto;}
.container {@include container;}

/* header */
@import 'cp_header';

/* footer */
@import 'cp_footer';