@charset 'utf-8';
@use 'mixin' as *;

section {
    &.cont {
        display: block;
        min-height: 100dvh;
        padding: calc($header-height + 3rem) 0;
    }
}

/* title */
#title {
    &.cont {
         .tit {
            display: flex;
            flex-direction: column;
            > h2 {
                flex-grow: 1;
                color: $color-main;
                font-size: 10vw;
            }
            .tit1-2 {
                text-shadow: -2px -2px 0 $color-main, 2px -2px 0 $color-main, -2px 2px 0 $color-main, 2px 2px 0 $color-main;
                color: #fff;
            }
         }
    }
}

/* about */
#about {
    &.cont {
        .flex {
            @include justify-between;
            @include align-center;
            .txt-cont {
                flex: none;
                margin-right: 25rem;
            }
            .img-cont {
                width: 100%;
                height: 50rem;
                border-radius: 6px;
                overflow: hidden;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .txt-cont {
            >p {
                @include font($s:5,$w:500,$c:#111);
                line-height: 1.5;
                >span {
                    @include pos($p:relative);
                    display: inline-block;
                    &::after {
                        content: '';
                        @include pos($p:absolute,$b:-5px,$l:0);
                        width: 100%;
                        height: 50%;
                        background: $color-point;
                        opacity: 0.9;
                        z-index: -1;
                    }
                }
            }
        }
        .skills-cont {
            margin-top: 7rem;
        }
        .skills {
            &_box {
                @include pos($p:relative);
                width: 15rem;
                .chart {
                    display: block;
                    &-bg {
                        fill: none;
                        stroke: $color-graybd;
                        stroke-width: 4;
                    }
                    &-inner {
                        fill: none;
                        stroke-width: 4;
                        stroke-linecap: round;
                        stroke: $color-main;
                        stroke-dasharray: 0, 100;
                        transition: stroke-dasharray 1.5s ease-out;
                        transform: rotate(-90deg);
                        transform-origin: 50% 50%;
                    }
                }
            }
            &_info {
                @include pos($p:absolute, $t:50%, $l:50%);
                transform: translate(-50%, -50%);
                >p {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

/* portfolio */
#portfolio {
    &.cont {
        overflow: hidden;
        .flex {
            display: grid;
            gap: 4rem;
            grid-template-columns: 1fr 1fr;
            .cont_box {
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid $color-graybd;
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
                .img {
                    height: 30rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
                .txt {
                    padding: 5rem 4rem;
                    box-sizing: border-box;
                    .txt1 {
                        margin-top: 1rem;
                        color: $color-gray;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/* work_list */
#work_list {
    &.cont {
        .tbody {
            width: 100%;
        }
        .tr {
            display: grid;
            grid-template-columns: 40% 50% 10%;
            border-bottom: 1px solid #ddd;
            @include align-center;
            transition: all .3s;
            &:hover {
                background: $color-hover;
            }
            .td {
                padding: 3rem;
                box-sizing: border-box;
                .tit3 {
                    font-weight: 600;
                    color: #222;
                }
                .txt {
                    font-size: 1.7rem;
                }
                >a {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    @include font($s:2,$w:500,$c:#111);
                }
            }
        }
    }
}

/* email */
#email {
    &.cont {
        .bg {
            &_main2 {
                padding: 13rem 0;
                box-sizing: border-box;
            }
        }
        .tit3 {
            @include pos($p:relative);
            z-index: 1;
            >span {
                @include pos($p:relative);
                display: inline;
                &::after {
                    content: '';
                    @include pos($p:absolute, $b:-2px, $l:0);
                    width: 100%;
                    height: 50%;
                    padding: 0 0.4rem;
                    background: $color-realwhite;
                    z-index: -1;
                    opacity: .8;
                }
            }
        }
        .caption1 {
            display: inline-block;
            font-weight: 500;
            color: $color-gray;
        }
        .email_box {
            >p {
                display: inline;
                width: auto;
                @include pos($p:relative);
                @include font($s:4,$w:700,$c:#111);
                line-height: 1.5;
                z-index: 1;
                &::after {
                    content: '';
                    width: 100%;
                    height: 50%;
                    @include pos($p:absolute, $b:-10px, $l:0);
                    background: $color-realwhite;
                    opacity: .7;
                    z-index: -1;
                }
            }
        }
        a {
            display: inline-block;
            padding: 2rem 5rem;
            box-sizing: border-box;
            border-radius: 999px;
            background: $color-realwhite;
            &::after {
                content: '';
                @include pos($p:absolute, $t:0, $r:0);
                width: 1rem;
                background: url();
            }
            &.is-hover {
                &::after {
                    content: '';
                    @include pos($p:absolute, $t:0, $r:0);
                    width: 1rem;
                    // background: url();
                }
            }
        }
    }
}

@media (min-width:1920px) {
    #title {
        &.cont {
            .tit {
                h2 {
                    font-size: 20rem;
                }
            }
        }
    }
}

@media (max-width:1600px) {
    section {
        &.cont {
            display: block;
            min-height: 100vh;
            padding: calc($header-height) 0;
        }
    }
    .inner {
        padding: 0 2rem;
    }
    #title {
        &.cont {
            .inner {
                max-width: 140rem;
                box-sizing: border-box;
                padding-top: 10rem;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    #about {
        &.cont {
            .flex {
                flex-direction: column-reverse;
                .img-cont {
                    width: 50%;
                    margin-bottom: 6rem;
                }
            }
        }
    }
}

@media (max-width:768px) {
    section {
        &.cont {
            display: block;
            min-height: auto;
            padding: calc($header-height) 0;
        }
    }
    .inner {
        padding: 0 2rem;
    }
    #title {
        &.cont {
            .inner {
                padding: 0 2rem;
                box-sizing: border-box;
            }
        }
    }

    #about {
        &.cont {
            .flex {
                @include align-start;
                .img-cont {
                    width: 100%;
                    height: 30rem;
                    margin-bottom: 3rem;
                }
                .txt-cont {
                    margin-right: 0;
                    > p {
                        font-size: 3rem;
                    }
                }
            }
            .skills-cont {
                margin-top: 5rem;
            }
        }
    }

    #portfolio {
        &.cont {
            .flex {
                gap: 2rem;
                grid-template-columns: 1fr;
                .cont_box {
                    .img {
                        height: 20rem;
                    }
                    .txt {
                        padding: 2.5rem 2rem;
                        box-sizing: border-box;
                        .txt1 {
                            margin-top: 1rem;
                            color: $color-gray;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    #email {
        &.cont {
            .bg {
                &_main2 {
                    padding: 7rem 0;
                    box-sizing: border-box;
                }
            }
            .tit3 {
                word-break: keep-all;
            }
            .email_box {
                >p {
                    display: inline;
                    width: auto;
                    @include pos($p:relative);
                    @include font($s:3,$w:700,$c:#111);
                    line-height: 1.5;
                    z-index: 1;
                }
            }
            a {
                display: inline-block;
                padding: 1rem 3rem;
                &::after {
                    content: '';
                    @include pos($p:absolute, $t:0, $r:0);
                    width: 1rem;
                    background: url();
                }
                &.is-hover {
                    &::after {
                        content: '';
                        @include pos($p:absolute, $t:0, $r:0);
                        width: 1rem;
                        // background: url();
                    }
                }
            }
        }
    }
}