@charset 'utf-8';
@use 'mixin' as *;

section {
    &.cont {
        display: block;
        min-height: 100dvh;
        padding: calc(9rem + 3rem) 0;
    }
}

/* title */
#title {
    &.cont {
        overflow: hidden;
        .inner {
            margin-top: 4rem;
        }
         .tit {
            display: flex;
            flex-direction: column;
            > h2 {
                flex-grow: 1;
                color: $color-main;
                font-size: 10vw;
                line-height: 1.2;
            }
            &1 {
                opacity: 0;
                transition: opacity 1s ease-out, transform 1s ease-out;
                will-change: opacity, transform;
                    &.is-visible {
                        opacity: 1;
                        transform: none;
                    &.form-left {
                        transform: translateX(10rem);
                    }
                    &.form-right {
                        transform: translateX(-10rem);
                    }
                    &.form-in {
                        transform: none;
                        transition: opacity 2s;
                    }
                }
            }
            .tit1-2 {
                text-shadow: -2px -2px 0 $color-main, 2px -2px 0 $color-main, -2px 2px 0 $color-main, 2px 2px 0 $color-main;
                color: #fff;
            }
        }
    }
}

/* about */
#about {
    &.cont {
        .flex {
            @include justify-between;
            @include align-start;
            .cont-about {
                width: calc(100%/2 - 20rem);
            }
            .txt-cont {
                flex: none;
                margin-right: 20rem;
            }
            .img-cont {
                width: 100%;
                height: 60rem;
                border-radius: 6px;
                overflow: hidden;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .txt-cont {
            .intro-txt {
                >p {
                    @include font($s:5,$w:500,$c:#111);
                    line-height: 1.5;
                    >span {
                        @include pos($p:relative);
                        display: inline-block;
                        &.highlight {
                            --highlight: 0%;
                            &02 {
                                &::after {
                                    transition-delay: 1s;
                                }
                            }
                            &03 {
                                &::after {
                                    transition-delay: 1.3s;
                                }
                            }
                        }
                        &::after {
                            content: '';
                            @include pos($p:absolute,$b:-5px,$l:0);
                            width: var(--highlight);
                            height: 50%;
                            background: $color-point;
                            opacity: 0.9;
                            z-index: -1;
                            transition: width .8s ease-out;
                        }
                    }
                }
            }
            .info-txt {
                margin-top: 5rem;
                padding: 3rem;
                box-sizing: border-box;
                background: $color-graybd;
                border-radius: 12px;
                .flex {
                    +.flex {
                        margin-top: 1rem;
                    }
                }
                .tit {
                    @include pos($p:relative);
                    flex: none;
                    width: auto;
                    margin-right: 3rem;
                    @include font(2,500,#111);
                    line-height: 1.5;
                    word-break: keep-all;
                    z-index: 1;
                    &::after {
                        content: '';
                        @include pos($p:absolute,$b:0,$l:0);
                        width: 100%;
                        height: 50%;
                        background: $color-realwhite;
                        z-index: -1;
                    }
                }
                .txt {
                    flex: 1;
                    @include font(2,500,#111);
                    line-height: 1.5;
                    word-break: keep-all;
                }
            }
        }
        .skills-cont {
            margin-top: 15rem;
            >.flex {
                flex-wrap: wrap;
                @include justify-between;
                @include align-center;
                flex-direction: row;
                margin-bottom: -2rem;
            }
        }
        .skills {
            &_chart {
                    @include pos($p:relative);
                    max-width: 20rem;
                    width: 100%;
                    margin: 0 auto;
                }
            &_box {
                flex: none;
                display: inline-block;
                margin-right: 2rem;
                margin-bottom: 2rem;
                &:last-child {
                    margin-right: 0;
                }
                .chart {
                    @include pos($p:relative);
                    display: block;
                    width: 100%;
                    height: auto;
                    .stroke {
                        fill: transparent;
                        stroke: $color-main;
                        stroke-width: 20;
                        stroke-dasharray: 565.48;
                        stroke-dashoffset: 565.48;
                        transition: stroke-dashoffset 2s ease-in-out;
                        transform: rotate(-90deg);
                        transform-origin: 50% 50%;
                    }
                }
            }
            &_info {
                @include pos($p:absolute, $t:50%, $l:50%);
                transform: translate(-50%, -50%);
                .tit {
                    @include font($s:2,$w:600,$c:#111);
                }
                .percentage {
                    margin-top: 1rem;
                    @include font($s:1.8,$w:500,$c:#111);
                }
                >p {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

/* portfolio */
#portfolio {
    &.cont {
        overflow: hidden;
        .flex {
            display: grid;
            gap: 4rem;
            grid-template-columns: 1fr 1fr;
            .cont_box {
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid $color-graybd;
                transition: all .3s;
                &:hover {
                    transform: translateY(-1.5rem);
                    border: 1px solid #cde4f6;
                    box-shadow: 0px 1px 10px #ddd;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
                .img {
                    @include pos($p:relative);
                    z-index: 2;
                    height: 30rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
                .txt {
                    @include pos($p:relative);
                    z-index: 2;
                    padding: 5rem 4rem;
                    box-sizing: border-box;
                    background: transparent;
                    .txt1 {
                        margin-top: 1rem;
                        color: $color-gray;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/* work_list */
#work_list {
    &.cont {
        background: #000;
        h3 {
            &.tit2 {
                color: $color-realwhite;
            }
        }
        .tbody {
            width: 100%;
        }
        .tr {
            @include pos($p:relative);
            display: grid;
            grid-template-columns: 40% 40% 20%;
            border-bottom: 1px solid #ddd;
            @include align-center;
            transition: all .3s;
                &.fill-box {
                    @include pos($p:relative);
                    overflow: hidden;
                    transition: all ease;
                    &:hover {
                        &::after {
                            width: 100vw;
                            height: 100vw;
                            transition: width .3s ease-in .1s, height .3s ease-in .1s;
                        }
                        p {
                            color: #111;
                        }
                        a {
                            color: #111;
                            &::after {
                                background-image: url(../img/main/icon/icon-arrow.png);
                                transform: translate(1rem, -50%);
                            }
                        }
                    }
                }
                &::after {
                    content: '';
                    @include pos($p:absolute);
                    display: block;
                    z-index: 1;
                    width: 0;
                    height: 0;
                    background: #000;
                    transition: width .3s ease-out, height .3s ease-out;
                    background-color: $color-main2;
                }
            .td {
                @include pos($p:relative);
                z-index: 2;
                padding: 3rem;
                box-sizing: border-box;
                p {
                    color: $color-realwhite;
                }
                .tit3 {
                    font-weight: 600;
                    color: $color-realwhite;
                }
                .txt {
                    font-size: 1.7rem;
                    line-height: 1.6;
                    word-break: keep-all;
                }
                >a {
                    @include pos($p:relative);
                    display: inline-block;
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    @include font($s:2,$w:500,$c:$color-realwhite);
                    &::after {
                        content: '';
                        @include pos($p:absolute, $t:50%, $r:3.5rem);
                        transform: translateY(-50%);
                        width: 2rem;
                        height: 1rem;
                        background: url(../img/main/icon/icon-arrow_w.png) no-repeat center center;
                        background-size: 100% 100%;
                        transition: transform .3s ease, opacity .3s ease;
                    }
                }
            }
        }
    }
}

/* email */
#email {
    &.cont {
        min-height: auto;
        .tit4 {
            @include pos($p:relative);
            z-index: 1;
            font-weight: 600;
            word-break: keep-all;
            >span {
                @include pos($p:relative);
                display: inline;
                &.highlight {
                    --highlight: 0%;
                }
                &::after {
                    content: '';
                    @include pos($p:absolute, $b:-2px, $l:0);
                    width: var(--highlight);
                    height: 50%;
                    opacity: 0.9;
                    z-index: -1;
                    transition: width .8s ease-out;
                    padding: 0 0.4rem;
                    background: $color-main2;
                    opacity: .8;
                }
            }
        }
        .caption1 {
            display: inline-block;
            width: 100%;
            font-weight: 500;
            color: $color-gray;
        }
        .email_box {
            >p {
                display: inline-block;
                width: auto;
                @include pos($p:relative, $l:50%);
                transform: translateX(-50%);
                @include font($s:8,$w:700,$c:#111);
                line-height: 1.5;
                z-index: 1;
                cursor: pointer;
            }
        }
        .btn {
            @include pos($p:relative,$l:50%);
            transform: translateX(-50%);
            display: inline-block;
            padding: 2rem 7rem 2rem 3rem;
            box-sizing: border-box;
            border-radius: 999px;
            background: $color-main2;
            &::after {
                content: '';
                @include pos($p:absolute, $t:50%, $r:3.5rem);
                transform: translateY(-50%);
                width: 2rem;
                height: 1rem;
                background: url(../img/main/icon/icon-arrow.png) no-repeat center center;
                background-size: 100% 100%;
                transition: transform .3s ease, opacity .3s ease;
            }
            &.is-hover {
                &::after {
                    transform: translate(1rem, -50%);
                }
            }
        }
        .toast-message {
            @include pos($p:absolute);
            background-color: #333;
            color: $color-realwhite;
            padding: 2rem;
            box-sizing: border-box;
            border-radius: 2px;
            font-size: 1.4rem;
            z-index: 9999;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, transform .3s ease;
            pointer-events: none;
            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateX(-5px);
            }
        }
    }
}

@media (min-width:1920px) {
    #title {
        &.cont {
            .tit {
                h2 {
                    font-size: 18rem;
                }
            }
        }
    }
}

@media (max-width:1700px) {
    .inner {
        padding: 0 2rem;
    }
}

@media (max-width:1600px) {
    section {
        &.cont {
            display: block;
            min-height: 100vh;
            padding: calc(9rem) 0;
        }
    }
    #title {
        &.cont {
            .inner {
                max-width: unset;
                box-sizing: border-box;
                padding-top: 10rem;
                padding-left: 7rem;
                padding-right: 7rem;
            }
        }
    }
}

@media (max-width:1200px) {
    #title {
        &.cont {
            .inner {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    #about {
        &.cont {
            .inner {
                >.flex {
                    flex-direction: column-reverse;
                    @include align-center;
                }
            }
            .flex {
                .txt-cont {
                    width: 100%;
                    margin-right: 0;
                    margin-top: 5rem;
                }
                .img-cont {
                    width: 70%;
                }
            }
            .skills {
                &-cont {
                    > .flex {
                        @include justify-center;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    section {
        &.cont {
            display: block;
            min-height: auto;
            padding: 9rem 0;
        }
    }
    #portfolio {
        &.cont {
            .flex {
                .cont_box {
                    &:hover {
                        border: 1px solid $color-graybd;
                        box-shadow: none;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    #work_list {
        &.cont {
            .tr {
                &.fill-box {
                    &:hover {
                        p {
                            color: $color-realwhite;
                        }
                        a {
                            color: #111;
                        }
                    }
                    a {
                        &::after {
                            display: none;
                        }
                        &:hover {
                            color: #111;
                        }
                    }
                }
                &:hover {
                    background: transparent;
                }
                &::after {
                    background-color: #000;
                }
            }
        }
    }
    #email {
        &.cont {
            .email_box  {
                > p {
                    font-size: 7rem;
                }
            }
        }
    }
}

@media (max-width:768px) {
    section {
        &.cont {
            display: block;
            min-height: auto;
            padding: 7rem 0 5rem;
        }
    }
    .inner {
        padding: 0 1.2rem;
    }
    #title {
        &.cont {
            padding-top: 10rem;
            .inner {
                padding: 0;
                box-sizing: border-box;
            }
            .tit {
                > h2 {
                    font-size: 12vw;
                }
                &1 {
                    opacity: 0;
                    transition: opacity 1s ease-out, transform 1s ease-out;
                    will-change: opacity, transform;
                        &.is-visible {
                            opacity: 1;
                            transform: none;
                        &.form-left {
                            transform: translateX(2rem);
                        }
                        &.form-right {
                            transform: translateX(-2rem);
                        }
                        &.form-in {
                            transform: none;
                            transition: opacity 2s;
                        }
                    }
                }
            }
        }
    }
    #about {
        &.cont {
            .flex {
                @include align-start;
                .img-cont {
                    width: 100%;
                    height: 30rem;
                }
                .txt-cont {
                    margin-right: 0;
                    .intro-txt {
                        > p {
                            font-size: 3rem;
                        }
                    }
                    .info-txt {
                        margin-top: 5rem;
                        padding: 3rem;
                        box-sizing: border-box;
                        background: $color-graybd;
                        border-radius: 12px;
                        .flex {
                            flex-direction: column;
                        }
                        .tit {
                            width: auto;
                            @include font(1.7,500,#111);
                            line-height: 1.5;
                        }
                        .txt {
                            margin-top: 1rem;
                            @include font(1.7,500,#111);
                            line-height: 1.5;
                        }
                    }
                }
            }
            .skills {
                &-cont {
                    margin-top: 5rem;
                }
                &_box {
                    width: calc(100% / 2);
                    margin-right: 0;
                }
                &_chart {
                    max-width: 15rem;
                }
            }
        }
    }
    #portfolio {
        &.cont {
            .flex {
                gap: 2rem;
                grid-template-columns: 1fr;
                .cont_box {
                    .img {
                        height: 20rem;
                    }
                    .txt {
                        padding: 2.5rem 2rem;
                        box-sizing: border-box;
                        .txt1 {
                            margin-top: 1rem;
                            color: $color-gray;
                            font-weight: 500;
                        }
                    }
                    &:hover {
                        transform: translateY(0);
                        border: 1px solid $color-graybd;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    #work_list {
        &.cont {
            .tr {
                display: flex;
                flex-wrap: wrap;
                padding: 2rem 0;
                box-sizing: border-box;

                &:hover {
                    background: #000;
                }
                &.fill-box {
                    @include pos($p:relative);
                    overflow: hidden;
                    transition: all ease;
                    &:hover {
                        p {
                            color: $color-realwhite;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }                
                .td {
                    flex: none;
                    width: 100%;
                    padding: 1rem;
                    .btn-go {
                        display: inline-block;
                        background: $color-main2;
                        color: #282828;
                        padding: 1.5rem;
                        font-size: 1.6rem;
                    }
                    &.td-btn {
                        margin-top: 1rem;
                    }
                }
                &::after {
                    display: none;
                }
            }
        }
    }

    #email {
        &.cont {
            .inner {
                padding: 0 1.2rem;
            }
            .bg {
                &_main2 {
                    padding: 7rem 0;
                    box-sizing: border-box;
                }
            }
            .tit3 {
                word-break: keep-all;
            }
            .email_box {
                >p {
                    display: inline-block;
                    @include pos($p:relative);
                    @include font($s:3.3,$w:700,$c:#111);
                    line-height: 1.5;
                    z-index: 1;
                }
            }
            .btn {
                display: inline-block;
                padding: 1rem 5rem 1rem 2rem;
                &::after {
                    right: 2rem;
                }
                &.is-hover {
                    &::after {
                        content: '';
                        transform: none;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}