@charset 'utf-8';
@use 'mixin' as *;

.container {
    &.sub {
        padding: 10rem 0;
        box-sizing: border-box;
        .inner {
            max-width: 160rem;
            margin: 0 auto;
        }
        .flex {
            &-txt {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 15rem;
                @include align-center;
                margin-top: 5rem;
            }
        }
        .btn-back {
            display: inline-block;
            width: 5rem;
            height: 5rem;
            background: $color-main2;
            .btn-img {
                display: inline-block;
                width: 2rem;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .txt-cont {
            margin-top: 7rem;
            margin-bottom: 7rem;
            .top_txt {
                flex: none;
                // margin-right: 15rem;
            }
            .sub-tit {
                margin-bottom: 4rem;
                @include font($s:6,$w:600,$c:#111);
            }
            .flex {
                margin-bottom: 2rem;
                :last-child {
                    margin-bottom: 0;
                }
            }
            span {
                &.left {
                    display: inline-block;
                    width: 10rem;
                    flex: none;
                }
            }
            .txt {
                @include font($s:1.8,$w:400,$c:#111);
                line-height: 1.5;
                word-break: keep-all;
            }
            .btn {
                &-go {
                    width: 30rem;
                    margin-top: 1rem;
                    padding: 2rem 3rem;
                    box-sizing: border-box;
                    background: $color-main2;
                    @include font($s:1.8,$w:500,$c:#111);
                    line-height: 1.5;
                }
            }
        }
        .right_img {
            flex: none;
        }
        .view-cont {
            .txt-wrap {
                @include align-end;
                @include justify-between;
                .txt1 {
                    @include pos($p:relative);
                    margin-left: 2rem;
                    padding: 0 .5rem;
                    box-sizing: border-box;
                    font-weight: 500;
                    &::after {
                        content: '';
                        @include pos($p:absolute, $b:0, $l:0);
                        width: 100%;
                        height: 30%;
                        background: $color-point;
                        z-index: -1;
                    }
                }
            }
            .bg {
                margin-top: 2rem;
                padding: 5rem 0 7rem;
                box-sizing: border-box;
                background: $color-lightgray;
                border-radius: 12px;
            }
            .tab {
                &-list {
                    display: flex;
                    @include align-center;
                    @include justify-center;
                    >li {
                        +li {
                            margin-left: 1rem;
                        }
                        button {
                            display: inline-block;
                            padding: 2rem 3rem;
                            box-sizing: border-box;
                            border: 1px solid $color-graybg;
                            background: $color-realwhite;
                            border-radius: 999px;
                            overflow: hidden;
                            font-weight: 500;
                            &:hover {
                                background: $color-main2;
                                border: 1px solid $color-main2;
                            }
                        }
                        &.on {
                            button {
                                background: $color-main2;
                                border: 1px solid $color-main2;
                            }
                        }
                    }
                }
                &-cont {
                    display: none;
                    width: 100%;
                    margin-top: 5rem;
                    &.on {
                        display: inline-block;
                    }
                    .img {
                        &-tab {
                            &::-webkit-scrollbar {
                                width: .8rem;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: $color-main2;
                                border-radius: 10px;
                            }
                            &::-webkit-scrollbar-track {
                                background: #fcfcfc;
                                border-radius: 10px;
                            }
                        }
                        &-pc {
                            width: 100rem;
                            height: 50rem;
                            margin: 0 auto;
                            overflow-y: auto;
                            img {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                        &-mo {
                            width: 36rem;
                            height: 50rem;
                            margin: 0 auto;
                            overflow-y: auto;
                            img {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1700px) {
    .inner {
        padding: 0 2rem;
    }
}

@media (max-width:1200px) {
    .container {
        &.sub {
            .flex-txt {
                display: flex;
                flex-direction: column-reverse;
                margin-top: 8rem;
            }
            .top_txt {
                margin-top: 7rem;
            }
            .txt {
                &-cont {
                    margin-top: 5rem;
                    .btn {
                        &-go {
                            width: 100%;
                        }
                    }
                    .sub-tit {
                        font-size: 4.5rem;
                    }
                }
            }
            .view-cont {
                .bg {
                    padding: 5rem 2rem;
                    box-sizing: border-box;
                }
                .tab {
                    &-cont {
                        width: 100%;
                        .img {
                            &-pc {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .container {
        &.sub {
            .txt-cont {
                .tit5 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .inner {
        padding: 0 1.2rem;
    }
    .container {
        &.sub {
            padding-top: 8rem;
            .flex-txt {
                margin-top: 4rem;
            }
            .btn-back {
                width: 4rem;
                height: 4rem;
                .btn-img {
                    width: 1.5rem;
                }
            }
            .txt-cont {
                margin-top: 2rem;
                .sub-tit {
                    margin-bottom: 3rem;
                    font-size: 2.5rem;
                }
                span {
                    &.left {
                        width: 5rem;
                        margin-right: 2rem;
                    }
                }
                .tit5 {
                    font-size: 1.4rem;
                }
                .txt {
                    font-size: 1.4rem;
                    word-break: keep-all;
                }
                .btn {
                    &-go {
                        padding: 1.5rem;
                        font-size: 1.5rem;
                    }
                }
            }
            .right {
                &_img {
                    width: 80%;
                    img {
                        width: 100%;
                    }
                }
            }
            .top_txt {
                margin-top: 5rem;
            }
            .view-cont {
                .bg {
                    padding: 2rem;
                }
                .tab {
                    &-list {
                        >li {
                            button {
                                width: 10rem;
                                padding: 1rem;
                                &:hover {
                                    border: 1px solid $color-graybg;
                                    background: $color-realwhite;
                                }
                            }
                            &.on {
                                button {
                                    &:hover {
                                        background: $color-main2;
                                        border: 1px solid $color-main2;
                                    }
                                }
                            }
                        }
                    }
                }
                .txt-wrap {
                    flex-direction: column;
                    @include justify-start;
                    @include align-start;
                    .txt1 {
                        margin-left: 0;
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .container {
        &.sub {
            .view-cont {
                .tab-cont {
                    .img {
                        &-mo {
                            width: 100%;
                            height: 40rem;
                        }
                    }
                }
            }
        }
    }
}